
// utils
@import "./utils/placeholders";
@import "./utils/variables";
@import "./utils/brakepoint";

// common 
@import "./base/body";
@import "./base/extras";
@import "./components/common/logo";
@import "./components/common/btn";
@import "./components/common/container";
@import "./components/footer/footer";

// header
@import "./components/header/navigation";
@import "./components/header/contacts";
@import "./components/header/menu";
// section
@import "./components/section/section";
@import "./components/section/hero";
@import "./components/section/features";
@import "./components/section/kind";
@import "./components/section/cards-team";
@import "./components/section/parthners-card";
@import "./components/footer/footer";
@import "./components/footer/form-footer";
@import "./components/modal/modal";
@import "./components/modal/modal-window";
// portfolio
@import "./components/portfolio/btn-filter";
@import "./components/portfolio/grid-card";
// policy 
@import "./components/section/policy";