// -------- інпути-------------------------------------------------------
.form-title {
    margin-top: 0;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-main);
}
.form-field {
    display: block;
    position: relative;
    flex-direction: column;
    margin-bottom: 27px;
    input {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: var(--font-main);
        cursor: pointer;
    }
    input:focus,
    textarea:focus {
        cursor: auto;
    }
    svg {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    
        transition-property:  fill;
        @extend %animation;
    }
    &:hover svg,
    &:hover .form-field__input {
    border-color: var(--hover-blue);
    fill: var(--hover-blue);
    }
}
.form-field__input {
    width: 100%;
    height: 40px;
    padding: 4px 10px 4px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border,color,fill;
    @extend %animation;

    &:focus,
    &:focus ~ svg {
    fill: var(--hover-blue);
    border-color: var(--hover-blue);
}
}
.form-field__label {
    position: absolute;
    top: -17px;
    left: 0;
    display: inline-block;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--font-main-light);
}
.form-textarea {
    position: relative;
    height: 120px;
    textarea {
        resize: none;
        width: 100%;
        height: 100%;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }
    textarea::placeholder {
        color: var(--social-main);
    }
    textarea:focus,
    textarea:hover {
    border-color: var(--hover-blue);
}
}
// ----------submit--------------------------------------------------
.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    // font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--font-main-light);
    @media screen and (max-width: $max-brp-xl) {
        font-size: 12px;
    }
    @media screen and (min-width: $min-brp-xl) {
        font-size: 14px;
    }
}
.form-submit_label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 21px;
}
.checkbox {
    position: relative;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;


    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    margin-right: 22px;
    &:checked + .checkbox-check {
        opacity: 1;
        transform: scale(1);
    }
    &:checked ~ .checkbox-box {
        opacity: 0;
        transform: rotate(180deg) scale(2);
    }
    &:focus ~ .checkbox-box {
        fill: var(--hover-blue);
    }
}
.checkbox-check {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform: scale(2);

    transition-property:  opacity, transform;
    @extend %animation;
}
.checkbox-box {
    position: absolute;
    z-index: 0;
    opacity: 1;
    transform: scale(1);

    transition-property:  opacity, transform;
    @extend %animation;
}
.checkbox-policy {
    font-weight: 400;
    // font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--hover-blue);
    @media screen and (max-width: $max-brp-xl) {
        font-size: 12px;
    }
    @media screen and (min-width: $min-brp-xl) {
        font-size: 14px;
    }
}
.form-submit__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px 57px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--font-secondary);
}
.form-submit__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}