.button {
    border: none;
    background-color: var(--hover-blue);
    border-radius: 4px;
    cursor: pointer;

    transition-property: background-color;
    @extend %animation;

    &:hover {
        background-color: var(--hover-blue-light);
    }
    &:focus {
        background-color: var(--hover-blue-light);
    }
}
.hero-btn {
    margin-top: 30px;
    padding: 10px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--font-secondary);

    @media screen and (max-width: $max-brp-sm) {
        padding: 5px 20px;
    }
}
