.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--font-main);
    z-index: 10;
    @media screen and (max-width: $max-brp-md) {
        padding: 16px 0 16px 0;
    }
}
.logo-web {
    color: var(--hover-blue);
}
.logo-studio {
    color: var(--font-secondary);
}