

.btn-li {
    display: flex;
    flex-wrap:wrap;
    gap: 8px;
    @media screen and (max-width: $max-brp-md) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: $min-brp-md) 
    and (max-width: $max-brp-xl) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $min-brp-xl) {
        justify-content: center;
        margin-bottom: 50px;
    }
}
.pbuttons {
    background: var(--background-light);
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;

    transition-property: background, color, box-shadow;
    @extend %animation;
    &:hover,
    &:focus {
        background: var(--hover-blue);
        color: var(--font-secondary);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.btn_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--font-main);
}
.current {
    background: var(--hover-blue);
    color: var(--font-secondary);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}