.js-speaker-form {
}
.footer-form {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    @media screen and (max-width: $max-brp-xl) {
        width: 100%;
    }
    @media screen and (min-width: $min-brp-xl) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.footer-form__input {
    border: none;
    padding: 15px 16px;
    height: 50px;
    // width: 358px;
    color: var(--font-secondary);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    // margin-right: 10px;
    @media screen and (max-width: $max-brp-md) {
        width: 100%;
    }
    @media screen and (min-width: $min-brp-md)
    and (max-width: $max-brp-xl) {
        width: 450px;
    }
    @media screen and (min-width: $min-brp-xl) {
        width: 358px;
        margin-right: 10px;
    }

}
.footer-form__btn {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--font-secondary);
    padding: 10px 29px;

    &:focus,
    &:hover {
        background-color: var(--hover-blue-light);
    }
    @media screen and (max-width: $max-brp-xl) {
        margin: 20px auto 0 auto ;
    }
}
.footer-form__icon {
    margin-left: 10px;
}