body {
    font-family: $fontPrimary, $fontSecondary;
    color: var(--font-main);
    margin: 0;
}
body.lock {
    overflow: hidden;
}
main {
    @media screen and (max-width: $max-brp-md) {
        margin-top: 60px;
    }
}
/* scrollbar */
::-webkit-scrollbar {
    @media screen and (min-width: $min-brp-md) {
        width: 20px;
    }
}
::-webkit-scrollbar-track {
    @media screen and (min-width: $min-brp-md) {
        background: var(--background-light);
    }
}
::-webkit-scrollbar-thumb {
    @media screen and (min-width: $min-brp-md) {
        background: var(--hover-blue);
    }
}
/* selection */
h1::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
h2::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
h3::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
p::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
a::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
span::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
