.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    z-index: 25;
    @media screen and (min-width: $min-brp-md) {
        display: none;
    }
    .menu-btn__close {
        transition-property: opacity, transform, transform-origin;
        @extend %animation;

        opacity: 0;
        transform-origin: center center;
        transform: rotate(45deg);
    }
    &.is-open .menu-btn__close {
        opacity: 1;
        transform-origin: center center;
        transform: rotate(0deg);
    }
    &.is-open .menu-btn__open {
        opacity: 0;
        transform: translateX(24px);
    }
    svg {
        transition-property: fill;
        @extend %animation;
    }
    &:hover svg,
    &:focus svg{
        fill: $hover;
    }
}
.menu-btn__open {
    transition-property: opacity, transform, transform-origin;
    @extend %animation;
    
    opacity: 1;
    transform: translateX(0);
}
.menu {
    position: fixed;
    background: var(--font-secondary);
    // opacity: 0.3;
    top: -250%;
    opacity: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    padding: 48px 40px 48px 40px;


    transition-property: top, opacity;
    @extend %animation;
    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
        top: 0;
        opacity: 1;

        transition-property: top, opacity;
        @extend %animation;

        @media screen and (min-width: $min-brp-md) {
            display: none;
        }
    }
    @media screen and (max-width: $max-brp-sm) {
        padding: 22px 20px 22px 20px;
    }
}

.menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.menu-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 64px;
    @media screen and (max-width: $max-brp-sm){
        margin-bottom: 32px;
    }
}
.menu-social {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 0 -10px;
    &__link {
        margin: 10px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $hover;
    }
    li:after {
        content: "";
        height: 100%;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    li:last-child:after {
        border: none;
    }
}
.menu-social__link {
    @media screen and (max-width: $max-brp-sm) {
        font-size: 13px;
    }
    @media screen and (min-width: $min-brp-sm) {
        font-size: 18px;
    }
}
.menu-text {
    display: flex;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: $font-main;

    transition-property: color;
    @extend %animation;

    &:hover,
    &:focus{
        color: $hover;
    }
    @media screen and (max-width: $max-brp-sm) {
        font-size: 30px;
    }
    @media screen and (min-width: $min-brp-sm) {
        font-size: 40px;
    }
}
.contacts-menu {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $font-main-light;

    transition-property: color;
    @extend %animation;
    
    &:hover,
    &:focus {
        color: $hover;
    }
    @media screen and (max-width: $max-brp-sm) {
        font-size: 20px;
    }
    @media screen and (min-width: $min-brp-sm) {
        font-size: 34px;
    }
}

.current-page {
    color: $hover;
}