
.bg_collor_team {
    background: var(--background-light);
}

.cardlist {
    display: flex;
    gap: 30px;
    @media screen and (max-width: $max-brp-md) {
        flex-direction: column;
    }
    @media screen and (min-width: $min-brp-md)
     and (max-width: $max-brp-xl) {
        flex-wrap: wrap;
    }
}
.card {
    background: var(--font-secondary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: none;
    @media screen and (min-width: $min-brp-md) {
        width: calc((100% - 30px) / 2)
    }
    @media screen and (min-width: $min-brp-xl) {
        width: calc((100% - 30px) / 4)
    }
}
.card-img {
    width: 100%;
    display: block;
    @media screen and (min-width: $min-brp-xl) {
        width: 270px;
    }
}
.card-description {
    padding: 30px 10px 30px 10px;
}
.card_name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--font-main);
}
.card_info {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--font-main-light);
    margin-bottom: 16px;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    fill: var(--social-main);
    border-radius: 50%;

    transition-property: background-color, fill;
    @extend %animation;

    &:hover,
    &:focus {
        background-color: var(--hover-blue);
        fill: var(--font-secondary);
    }
}