.feature {
    display: flex;
    gap: 30px;
    // flex-direction: row;
    @media screen and (max-width: $max-brp-md) {
        // display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: $min-brp-md)
     and (max-width: $max-brp-xl) {
        flex-wrap: wrap;
    }
    
}
.feature-info {
    // width: calc((100% - 30px) / 4);
    padding: 0;
    @media screen and (min-width: $min-brp-md) {
        width: calc((100% - 30px) / 2)
    }
    @media screen and (min-width: $min-brp-xl) {
        width: calc((100% - 30px) / 4)
    }
}
.feature-info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 270px;
    height: 120px;
    margin: 0 0 30px 0;
    border-radius: 4px;
    background-color: var(--background-light);
}
.feature-info__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    margin: 0;
    color:var(--font-main);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: $max-brp-md) {
        text-align: center;
    }
}
.feature-info__subtitle {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--font-main-light);
}