.parthners {
    display: flex;
    // flex-direction: row;
    gap: 30px;
    @media screen and (max-width: $max-brp-xl) {
        flex-wrap: wrap;
    }
}
.parthners-group {
    // width: calc((100% - 150px) / 6);
    @media screen and (max-width: $max-brp-md) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: $min-brp-md) {
        width: calc((100% - 60px) / 3);
    }
}
.parthners-group__item {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;
    border-radius: 4px;
    fill: var(--social-main);
    border: 1px solid var(--social-main);

    transition-property: border, fill;
    @extend %animation;

    &:hover,
    &:focus {
        border: 1px solid var(--hover-blue);
        fill: var(--hover-blue);
        outline: none;
    }

}