
// секція
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.pading-bottom {
    padding-bottom: 0;
    @media screen and (max-width: $max-brp-xl) {
        padding-bottom: 60px;
    }
}

.section-title {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color: var(--font-main);
}
